* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}
.fontPreloader {
  position: absolute;
  left: -1000px;
  visibility: hidden;
}

.fontGame {
  font-family: "Fredoka One", serif;
}

/* fredoka-one-regular - latin */
@font-face {
  font-family: "Fredoka One";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("assets/fonts/fredoka-one-v13-latin-regular.woff2") format("woff2"),
    url("assets/fonts/fredoka-one-v13-latin-regular.woff") format("woff");
}
